@mixin reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin grad-orange {
    background: rgb(255,113,0);
    background: linear-gradient(90deg, rgba(255,113,0,1) 0%, rgba(255,166,0,1) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,400&display=swap');

$header-height: 60px;
$footer-height: 50px;

$orange: #ff7100;
$blue: #0066fc;
$greeny: #29c885;
$white-gradient: rgba(255, 255, 255, 0.2);
$white: #ffffff;
$light-gray: #d1d1d1;
$gray: #bbbbbb;
$medium-gray: #808080;
$deep-gray: #555555;

$font-base: 400 14px 'Roboto', sans-serif;
$text-card: 900 2rem;
$text-paragrafo: 900 1rem;




html {
    height: 100%;
}

body {
    @include reset;
    font: $font-base;
}

main {
    color: $medium-gray;
    height: 100vh;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0 2rem;
    position: relative;

    .logo {
        margin: 0;
        padding: 1rem auto;

        img {
            @include size(250px, auto);
        }
    }

    nav {
        display: inline-flex;
        z-index: 1;

        a {
            margin: 0 1em;
            padding: 0.5rem;
            text-decoration: none;
            color: $light-gray;

            &:hover {
                color: $white;
            }
        }
        .btn-menu {
            @include grad-orange;
            color: $white;
            font-weight: bold;
            border-radius: 50px;
            padding: .375rem 2rem;

            &:hover {
                color: $white;
                box-shadow: 2px 2px 5px $medium-gray;
            }
        }
    }

    .nav-blob {
        position: absolute;
        right: 0;
        bottom: -65px;
        width: 800px;
    }
}

.cadastro {
    @include size(600px, auto);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2em;
    
    h1 { 
        color: $deep-gray;
        text-align: center; 
    }
}

.box-formulario {
    margin: 1em auto;
    border: 1px solid $light-gray;
    text-align: center;
}

.nav-tabs {
    font-weight: 900;
    border-bottom: none;
    
    a {
        color: $light-gray;
        border-color: $light-gray;
    }
}

.form-tab {    
    background-color: $white;
    padding: 2rem;
    border: 1px solid $light-gray;

    button {
        background-color: $orange;
        color: $white;
        font-weight: 900;
        border-radius: 25px;
        padding: .375rem 2rem;
        margin-top: 1rem;
        transition: .2s all;
        &:hover {
            color: $white;
            box-shadow: 2px 2px 5px $medium-gray;
        }
    }
}


.tit-pri {
    font-size: 44px;
    font-weight: 900;
}

.tit-sec {
    font-size: 40px;
    font-weight: 900;
}

.tit-ter {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    text-align: center;
    color: $light-gray;
    font-weight: bold;
}

footer {
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $footer-height;
    padding: 0 2rem;

    color: $white;

    .nav-link {
        color: $white;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
            color: inherit;
        }
    }
}